.contac-list {
  display: grid;
  padding: 0.5px;
  border-style: solid;
  border-color:blue;
  text-align: center;
  }
  .n-contactos{

    display: grid;
    padding: 0px;
    border-style: solid;
    border-color: yellow;
    text-align: justify;

  }
  .chat-user{
      
    display: grid;
  padding: 0.5px;
  border-style: solid;
  border-color:blue;
  text-align: center;
  }
  .chat-total{

    display: grid;
    border-style: solid;
    border-color: cyan;
    text-align: justify;

  }
  .body{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    display: grid;
    width: 525px;
    height: 287px;
    border-style: solid;
    border-color: red;
    text-align: center;
  }
  .contactos{
      
    position:absolute;
    left:0px;
    top:0px;
    display: grid;
    border-style: solid;
    border-color: limegreen;
  }
  .chat{
      
    position:absolute;
    left:207px;
    top:0px;
    display: grid;
    border-style: solid;
    border-color: magenta;
  }
  
  
  
  .caja {
      
    width: 189px;
    height: 38px;
    border-style: solid;
    border-color: cyan;
    text-align: left;

  
  }
  .caja1 {
      
    width: 189px;
    height: 25px;
    border-style: solid;
    border-color: cyan;
    text-align: left;

  
  }


  .chat-msj{
    height: 217px;
    border-style: solid;
    border-color: gray;
    text-align: center;
  }
  .chat-lec{
    color: grey;
    width: 300px;
    height: 21px;
    border-style: solid;
    border-color: green;
  }
  

  